body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;

}

.container {
  max-width: 1180px;
  margin: 0 auto;

  @media (max-width: 1180px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

header{
  box-shadow: 0 1px 8px rgba(12,13,14,.15);
  background-color: #fafafb;
  position: fixed;
  z-index: 999;
  width: 100%;
  border-top: 3px solid #f48024;
}

.header-btn {
  width: 44px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }

  @media(min-width: 768px) {
    display: none;
  }

  span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: black;
    opacity: .5;
    transition: all .3s;
    position: relative;

    &::before {
      content: "";
      width: 18px;
      height: 2px;
      background-color: black;
      display: block;
      position: absolute;
      top: -6px;
      transition: all .3s;
    }

    &::after {
      content: "";
      width: 18px;
      height: 2px;
      background-color: black;
      display: block;
      position: absolute;
      top: 6px;
      transition: all .3s;
    }
  }

  span.active {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }

}

.header-menu__mobile {
  display: none;
  position: fixed;
  top: 46px;
  left: 0;
  border-left: 1px solid #e4e6e8;
  border-right: 1px solid #e4e6e8;
  border-bottom: 1px solid #e4e6e8;
  background-color: white;
  width: 250px;
  box-shadow: 0 2px 2px rgba(12,13,14,.2);

  &-active {
    display: block;
  }

  ul {
    list-style: none;
    padding: 20px 0;
    margin: 0;

    li {
      display: block;
      padding: 3px 0;


      a {
        font-family: Arial;
        font-size: 13px;
        color: black;
        text-decoration: none;
        padding: 4px 4px 4px 8px;
        opacity: .9;

      }
    }
  }

  .active {
    border-right: 3px solid #f48024;
    background-color: #eff0f1;

    a {
      font-weight: bold;
    }

  }
}


.header-logo {
  background-image: url("../img/sprites.svg");
  display: block;
  width: 35px;
  height: 45px;
  background-position: 7px 100%;
  transition: all .3s;

  &:hover {
    background-color: #f1f1f1;
  }

  @media(min-width: 768px) {
    min-width: 170px;
    height: auto;
    background-position: 7px 101%;
  }

}


.panel {
  display: flex;
  margin-left: auto;

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    transition: all .3s;
    text-decoration-line: none;

    &:hover {
      background-color: #f1f1f1;
    }

    span {
      background-position: center;
      background-size: contain;
      width: 20px;
      height: 20px;
      display: block;
      opacity: .5;
    }

    &__stat {
      display: none;
      color: #535a60;
      font-size: 12px;
      text-decoration-line: none;

      .rating {
        padding-left: 8px;
        font-weight: bold;
        color: #535a60;
      }

      .silver {
        padding-left: 15px;
        color: #8c9298;
        position: relative;

        &::before {
          content: "";
          width: 6px;
          height: 6px;
          background-color: #b9bcbf;
          border-radius: 50%;
          position: absolute;
          top: 6px;
          left: 6px;

        }
      }

      .bronze {
        padding-left: 14px;
        color: #c38b5f;
        position: relative;

        &::before {
          content: "";
          width: 6px;
          height: 6px;
          background-color: #c38b5f;
          border-radius: 50%;
          position: absolute;
          top: 6px;
          left: 6px;

        }

      }

      @media(min-width: 768px) {
        display: flex;
      }
    }

    &__search{

      span {
        background-image: url("../img/lupa.svg");

        @media(min-width: 768px) {
          display: none;
        }
      }
    }

    &__avatar {

      span {
        background-image: url("../img/avatar.png");
      }
    }

    &__driver {

      span {
        background-image: url("../img/driver.svg");

      }
    }

    &__cup {

      span {
        background-image: url("../img/cup.svg");
      }
    }

    &__question {

      span {
        background-image: url("../img/question.svg");
      }
    }

    &__message {

      span {
        background-image: url("../img/message.svg");
      }
    }
  }

}

.header {

  &-wrap {
    display: flex;
  }

  &-form {
    display: none;
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 8px 12px;
    background: #eff0f1;

    &-active {
      display: block;
    }


    @media(min-width: 768px) {
      display: block;
      position: static;
      background: transparent;
    }
  }

  &-search {
    width: 100%;
    height: 30px;
    padding: 5px;
    padding-left: 32px;
    border-radius: 3px;
    background-position: 8px center;
    border: 1px solid #c1bdbd;

    &__wrap {
      position: relative;

      &::before {
        content: "";
        background-image: url('../img/lupa.svg');
        background-repeat: no-repeat;
        background-size: 15px 15px;
        position: absolute;
        width: 15px;
        height: 15px;
        opacity: .4;
        top: 8px;
        left: 12px;
        z-index: 1;
      }
    }
  }

  &-search::placeholder {
    opacity: .5;
  }

  &-quest {
    /* display: none; */
    position: fixed;
    width: 100%;
    left: 0;
    top: 97px;
    padding: 0 12px;

    @media(min-width: 768px) {
      top: 50px;

    }

    ul {
      padding: 12px;
      margin: 0;
      list-style: none;
      border-bottom: 1px solid #d8d2d2;

      li {
        font-size: 13px;

        span {
          color: #9fa6ad;
          padding-left: 5px;
        }
      }

      li:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &-wrapper {
    border: 1px solid #e4e6e8;
    background-color: white;
    box-shadow: 0 0 2px rgba(0,0,0,.5);

    //@media(min-width: 768px) {
    //  display: none;
    //}

    display: none;

    &-active {
      display: block;
    }
  }

  &-question {
    padding: 12px;
    display: flex;
    justify-content: space-between;

    a {
      color: #0077cc;
      text-decoration: none;
      font-size: 11px;
    }

    button {
      color: #39739d;
      background-color: #e1ecf4;
      border-color: #7aa7c7;
      box-shadow: inset 0 1px 0 0 rgba(255,255,255,.7);
      padding: 6px;
      border-radius: 5px;
      font-size: 11px;
    }
  }

}
