<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-item">
        <h5 class="footer-title">
          <a href="#">Stack Overflow на русском</a>
        </h5>
        <ul>
          <li>
            <a href="#">Тур</a>
          </li>
          <li>
            <a href="#">Справка</a>
          </li>
          <li>
            <a href="#">Чат</a>
          </li>
          <li>
            <a href="#">Связаться с нами</a>
          </li>
          <li>
            <a href="#">Оставить отзыв</a>
          </li>
          <li>
            <a href="#">Мобильная версия</a>
          </li>
          <li>
            <a href="#">Отключить адаптивный дизайн</a>
          </li>
        </ul>
      </div>
      <div class="footer-item">
        <h5 class="footer-title">
          <a href="#">Компания</a>
        </h5>
        <ul>
          <li>
            <a href="#">Stack Overflow</a>
          </li>
          <li>
            <a href="#">Stack Overflow Business</a>
          </li>
          <li>
            <a href="#">Вакансии для разработчиков</a>
          </li>
          <li>
            <a href="#">О компании</a>
          </li>
          <li>
            <a href="#">Упоминания в СМИ</a>
          </li>
          <li>
            <a href="#">Соглашение</a>
          </li>
          <li>
            <a href="#">Политика конфиденциальности</a>
          </li>
        </ul>
      </div>
      <div class="footer-item">
        <h5 class="footer-title">
          <a href="#">Stack Exchange <br>network</a>
        </h5>
        <ul>
          <li>
            <a href="#" class="network">Technology</a>
          </li>
          <li>
            <a href="#" class="network">Life / Arts</a>
          </li>
          <li>
            <a href="#" class="network">Culture / Recreation</a>
          </li>
          <li>
            <a href="#" class="network">Science</a>
          </li>
          <li>
            <a href="#" class="network">Other</a>
          </li>
        </ul>
      </div>
      <div class="footer-item footer-item__copyr">
        <ul>
          <li class="footer-group">
            <a href="#">Блог</a>
          </li>
          <li class="footer-group">
            <a href="#">Facebook</a>
          </li>
          <li class="footer-group">
            <a href="#">Твиттер</a>
          </li>
          <li class="footer-group">
            <a href="#">LinkedIn</a>
          </li>
        </ul>
        <p>
          дизайн сайта / логотип © 2020 Stack Exchange Inc; пользовательское содержимое попадает под действие лицензии</p>
      </div>
    </div>


  </div>
</footer>
