.main{
  padding-top: 70px;

  @media(min-width: 1024px){
    padding-top: 50px;
  }

  &-section {
    width: 100%;

    @media(min-width: 1024px){
      border-left: 1px solid #d8dbdd;
      padding-top: 20px;
    }
  }

  .row-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @media(min-width: 1180px){
      padding-left: 15px;
    }

    h1 {
      font-size: 22px;
      margin: 0;
      font-weight: normal;
    }

    button{
      color: white;
      background-color: #0095ff;
      box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
      border-radius: 3px;
      font-size: 13px;
      border: none;
      padding: 10px;
      transition: all .3s;

      &:hover {
        background-color: #0077cc;
        cursor: pointer;
      }
    }

  }

  &-wrap {
    @media(min-width: 768px){
      display: flex;
    }

    @media(min-width: 1170px) {
      max-width: 1170px;
      margin: 0 auto;
    }
  }

  .row-btnGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 12px;

    @media(min-width: 460px){
      justify-content: flex-end;
    }

    button {
      background-color: transparent;
      border: 1px solid #848d95;
      color: #3c4146;
      white-space: nowrap;
      padding: 8px 5px;
      transition: all .3s;

      &:hover {
        background-color: #e4e6e8;
        cursor: pointer;
      }
    }

    button:first-child {
      border-radius: 3px 0 0 3px;
    }

    button:last-child {
      border-radius: 0 3px 3px 0;
    }

    button.competition {
      padding-left: 30px;
      position: relative;

      &::before {
        content: "7";
        position: absolute;
        left: 7px;
        background-color: #0077cc;
        color: white;
        padding: 3px;
        width: 14px;
        height: 18px;
        font-size: 10px;
        border-radius: 3px;
      }
    }
  }
}

.questions {
  padding: 12px;
  border-top: 1px solid #eff0f1;
  border-bottom: 1px solid #eff0f1;

  .row {
    margin-bottom: 8px;

    span {
      font-size: 12px;
      color: #848d95;
      padding: 4px 5px;
    }

    span.answer {
      color: #48a868;
      border: 1px solid #48a868;
      border-radius: 5px;
    }
  }

  .title {
    margin: 0;
    margin-bottom: 8px;

    a {
      text-decoration-line: none;
      font-size: 16px;
      color: #0077cc;
      line-height: 20px;
      display: block;
      font-weight: normal;
      transition: all .3s;

      &:hover {
        color: #47a7ec;
      }
    }
  }

  .row-link {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .href {
      margin-right: 15px;

      span {
        color: #39739d;
        background-color: #e1ecf4;
        border-color: #e1ecf4;
        border-radius: 5px;
        padding: 3px 6px;
        display: inline-block;
        transition: all .3s;

        &:hover {
          background-color: #cad5dd;
          cursor: pointer;
        }
      }

    }

    .answer {
      font-size: 12px;
      color: #9199a1;
      margin-left: auto;
      padding-top: 5px;

      a {
        color: #0077cc;
        text-decoration: none;
        transition: all .3s;

        &:hover {
          color: #47a7ec;
        }

        span {
          padding: 0;
        }
      }
    }
  }
}

.main-disc {

  .title {
    color: #242729;
    margin: 25px 0;

    @media(min-width: 1180px) {
      padding: 35px 20px 0;
    }

    a {
      text-decoration: none;
      color: #0077cc;
      transition: all .3s;;

      &:hover{
        color: #389be3;
      }
    }
  }
}

.main-aside {

  @media(min-width:768px) {
    padding: 0 15px;
    min-width: 300px;
  }

  @media(min-width:1024px) {
    padding-top: 20px;
  }

  .content {
    max-width: 300px;
    margin: 0 auto;

    .important {
      background-color: #fdf7e3;
      box-shadow: 0 0 3px rgba(0,0,0,.5);
      border-radius: 3px;
      font-size: 13px;
      color: #3c4146;
      margin-bottom: 15px;

      &__title {
        padding: 12px 15px;
        font-size: 12px;
        color: #6A737C;
        background-color: #fbf2d4;

      }

      &-block {
        padding: 10px 15px;
        display: flex;

        a {
          text-decoration: none;
          color: #3c4146;
          transition: all .3s;

          &:hover {
            color: #676b6e;
          }
        }
      }

      &-icon {

        &__message {
          background-image: url("../img/message2.svg");
          min-width: 15px;
          height: 15px;
          display: block;
          background-position: center;
          background-size: cover;
          margin-right: 10px;
        }

        &__stack{
          background-image: url("../img/stack.png");
          min-width: 15px;
          height: 15px;
          display: block;
          background-position: center;
          background-size: cover;
          margin-right: 10px;
          opacity: .5;
        }
      }

      &-num {
        font-size: 13px;
        color: #6a737c;
        margin-right: 10px;
      }
    }

    .filter{
      box-shadow: 0 0 3px rgba(0,0,0,.5);
      border-radius: 3px;
      font-size: 13px;
      color: #3c4146;
      margin-bottom: 15px;

      &-title {
        padding: 12px 15px;
        font-size: 12px;
        color: #6A737C;
        border-bottom: 1px solid #e4e6e8;
        display: flex;
        align-items: center;

      }

      a {
        text-decoration: none;
        color: #0077cc;
        transition: all .3s;
        padding: 12px 15px;
        display: inline-block;

        &:hover{
          color: #389be3;
        }
      }

      span {
        background-image: url("../img/stop.svg");
        width: 15px;
        height: 15px;
        background-position: center;
        background-size: cover;
        display: inline-block;
        opacity: .5;
        margin-right: 8px;
      }
    }

    .metka {
      margin-bottom: 15px;

      h4 {
        margin: 0;
        margin-bottom: 18px;
        color: #3C4146;
        font-weight: normal;
      }

      &-block {
        display: flex;
        align-items: center;
        margin-bottom: 6px;

      }

      &-name {
        color: #39739d;
        background-color: #e1ecf4;
        border-color: #e1ecf4;
        font-size: 12px;
        padding: 5px 7px;
        border-radius: 3px;
        margin-right: 10px;
        display: inline-block;
        transition: all .3s;

        &:hover {
          background-color: #cfdde7;
          cursor: pointer;
        }


      }

      &-count {
        font-size: 11px;
        color: #6a737c;

        &::before {
          content: "\d7";
          position: relative;
          left: -4px;
        }

      }
    }

    .sign {
      margin-bottom: 15px;

      h4 {
        margin: 0;
        margin-bottom: 18px;
        color: #3C4146;
        font-weight: normal;
      }

      &-block {
        display: flex;
        align-items: center;
        margin-bottom: 6px;

      }

      &-name {
        color: white;
        background-color: #2f3337;
        font-size: 12px;
        padding: 5px 7px;
        border-radius: 3px;
        margin-right: 10px;
        display: inline-block;
        transition: all .3s;

        &:hover {
          background-color: #18191a;
          cursor: pointer;
        }

        .medal {
          width: 8px;
          height: 8px;

          display: inline-block;
          border-radius: 50%;
          margin-right: 5px;

          &-bronze {
            background-color: #cc9966;
          }

          &-gold {
            background-color: #ffcc00;
          }

          &-silver {
            background-color: #c5c5c5;
          }


        }
      }

      &-subname {
        font-size: 11px;
        color: #0077cc;
        transition: all .3s;

        &:hover {
          color: #44a0e2;
          cursor: pointer;
        }

      }
    }
  }
}

.main-menu__mobile {
  display: none;
  position: sticky;
  top: 77px;
  background-color: white;
  width: 250px;

  @media(min-width: 1024px){
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      display: block;
      padding: 3px 0;

      &:hover {
        cursor: pointer;
        border-right: 3px solid #f48024;
        background-color: #eff0f1;
      }


      a {
        font-family: Arial;
        font-size: 13px;
        color: black;
        text-decoration: none;
        padding: 4px 4px 4px 8px;
        opacity: .9;

      }
    }
  }

  .active {
    border-right: 3px solid #f48024;
    background-color: #eff0f1;

    a {
      font-weight: bold;
    }

  }
}

